<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - Reeema</title>
    <link rel="shortcut icon" href="/images/reema-swoosh-logo.png" type="image/x-icon">
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    
    <header>
        <div class="topbar">
            <div class="container full-max-width">
                <div class="topbar__slider flex-center">
                    <button class="topbar__slider__nav" ><i class="fas fa-chevron-left"></i></button>
                    <ul class="topbar__slider__list"  id="contact-list-slider" >
                        <li class="topbar__slider__list__items">+92 300 96 12 686</li>
                        <li class="topbar__slider__list__items">+92 52 3541247</li>
                        <li class="topbar__slider__list__items">+92 31 000 000 000</li>
                    </ul>
                    <button class="topbar__slider__nav" ><i class="fas fa-chevron-right"></i></button>
                </div>
                <div class="topbar__links">
                    <ul class="topbar__links__list flex-right">
                        
                        <li  class="topbar__links__list__items">
                            <button id="btnSearch" class="btn btn-icon" href="#">
                                <svg width="14" height="14" viewBox="0 0 70 70" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M50 44H46.84L45.72 42.92C49.64 38.36 52 32.44 52 26C52 11.64 40.36 0 26 0C11.64 0 0 11.64 0 26C0 40.36 11.64 52 26 52C32.44 52 38.36 49.64 42.92 45.72L44 46.84V50L64 69.96L69.96 64L50 44ZM26 44C16.04 44 8 35.96 8 26C8 16.04 16.04 8 26 8C35.96 8 44 16.04 44 26C44 35.96 35.96 44 26 44Z" fill="white"/>
                                </svg>
                            </button>
                        </li>
                                
                        
                        
                        <% if (user) { %>
                            <li  class="topbar__links__list__items"><a class="btn btn-icon" href="/dashboard"><%= user.firstname +' '+ user.lastname %></a></li>
                            <li  class="topbar__links__list__items"><a class="btn btn-icon" href="/logout">Logout</a></li>
                         
                        <% } else { %>
                            <li  class="topbar__links__list__items"><a class="btn btn-icon" href="/login">Login</a></li>
                        <% } %>
                        
                         
                        
                            
                             
                        
                        
                    </ul>                
                </div>
            </div>
        </div>
        <nav class="navbar">
            <div class="container full-max-width">
                <div class="navbar__brand">
                    <a href="/">
                        <svg height="30" viewBox="0 0 921 118" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M152.5 116.64C128.425 111.836 107.484 99.0893 88.9624 77.9657L84 72.3061L73.5 76.5559C61.4275 81.4421 46.4708 88.8534 35.1559 95.556C30.8416 98.1116 26.1166 100.908 24.6559 101.769C20.702 104.102 23.6305 101.683 36.5172 91.9722C46.819 84.2091 64.6317 72.861 74.75 67.6148C76.8125 66.5454 78.5 65.3624 78.5 64.9859C78.5 64.0382 66.9604 45.9259 61.326 38.0299C56.1655 30.7982 45.573 20.4616 39.1787 16.4177C32.5473 12.2239 19.495 7.35483 9.3468 5.28924L0 3.38673L4 2.17714C10.979 0.0666504 31.0549 -0.303438 38.8649 1.53439C47.1842 3.49208 60.9803 10.4634 70.2015 17.3691C77.8476 23.0951 95.998 41.1266 101.881 48.8411L105.754 53.9197L112.877 51.4749C166.214 33.1677 223.479 29.3215 276 40.5189C289.37 43.3694 317.159 52.7167 317.48 54.4714C317.565 54.9367 310.379 60.4025 301.511 66.6178L285.387 77.918L270.694 72.967C231.511 59.7641 196.121 54.6053 160.727 56.9372C137.791 58.4484 114.5 62.1424 114.5 64.2688C114.5 66.449 130.312 80.8091 136 83.7944C161.218 97.0302 195.272 94.8503 233.183 77.5736C237.376 75.6627 240.972 74.2636 241.173 74.4646C241.374 74.6657 240.742 80.6013 239.769 87.6549L238 100.48L229.902 104.279C218.575 109.594 202.688 114.678 191.574 116.543C180.417 118.416 161.632 118.463 152.5 116.64ZM378.33 45.6253L432.883 44.6253L434.671 38.6253C436.539 32.3573 436.377 30.1451 433.863 27.6312C432.605 26.3735 428.395 26.1253 408.322 26.1253C389.506 26.1253 384.39 25.8539 384.763 24.8753C385.024 24.1878 386.893 18.3215 388.915 11.839L392.591 0.0526536L427.796 0.339163C459.643 0.598061 463.353 0.801247 466.706 2.46843C471.576 4.89032 475 11.5989 474.133 17.0199C473.343 21.9617 461.69 59.8281 459.873 63.3585C458.169 66.6692 453.722 69.1255 449.433 69.1255H446.267L449.997 73.2536C453.487 77.1172 453.697 77.7101 453.267 82.5036C453.014 85.3206 450.689 94.263 448.101 102.375L443.395 117.125H426.947C417.901 117.125 410.5 116.735 410.5 116.258C410.5 115.782 413.2 106.685 416.5 96.0427C419.8 85.4008 422.5 75.7356 422.5 74.5646C422.5 70.7388 419.457 69.1255 412.239 69.1255H405.636L401.647 81.8755C399.453 88.888 396.131 99.5755 394.264 105.626L390.87 116.625L355.798 117.17L378.33 45.6253ZM468.04 112.375C468.828 109.763 473.874 93.6753 479.253 76.6253L489.035 45.6253L521.88 45.3615C548.019 45.1518 554.626 45.354 554.244 46.3615C553.842 47.4211 549.573 61.4987 547.88 67.3502C547.44 68.872 545.555 69.1075 531.869 69.3502L516.357 69.6254L512.94 80.1253C511.06 85.9003 509.517 91.1878 509.511 91.8754C509.503 92.8206 513.178 93.1253 524.583 93.1253C536.231 93.1253 539.561 93.4099 539.202 94.3753C538.947 95.0628 537.227 100.463 535.38 106.375L532.021 117.125H466.608L468.04 112.375ZM554.5 116.185C554.5 115.299 556.749 108.035 571.619 60.8753L576.586 45.1253H642.274L634.899 68.6253L603.909 69.1741L600.787 78.8997C599.069 84.2488 597.372 89.6379 597.015 90.8754L596.365 93.1254H611.433C622.831 93.1254 626.495 93.4296 626.48 94.3754C626.468 95.0629 624.955 100.35 623.117 106.125L619.773 116.625L587.137 116.889C566.584 117.055 554.5 116.794 554.5 116.185ZM648.244 96.398C651.833 84.973 656.873 68.8753 659.445 60.6253L664.12 45.6253L699.225 45.0803L689.064 77.3529C683.475 95.1027 678.458 111.2 677.915 113.125L676.927 116.625L641.719 117.17L648.244 96.398ZM694.753 115.875C695.01 115.188 700.103 98.9878 706.071 79.8753L716.922 45.1253H734.211C743.72 45.1253 751.5 45.3676 751.5 45.6636C751.5 45.9596 746.55 61.9174 740.5 81.1253C734.45 100.333 729.5 116.291 729.5 116.587C729.5 116.883 721.577 117.125 711.893 117.125C698.225 117.125 694.39 116.846 694.753 115.875ZM760.644 76.0513C767.715 53.4607 773.5 33.6862 773.5 32.1081C773.5 26.0595 774.091 26.1253 719.758 26.1253H670.462L671.104 23.5655C671.458 22.1576 673.235 16.4201 675.054 10.8155L678.36 0.625327H740.18C797.804 0.625327 802.224 0.747408 805.294 2.42386C809.592 4.77041 812.48 9.6304 812.544 14.6253C812.574 17.0922 806.732 37.5006 797.298 67.8705L782 117.116L747.787 117.123L760.644 76.0513ZM796.182 110.296C798.832 106.54 810.225 90.3554 821.5 74.3303L842 45.1938L859.309 45.1597C868.829 45.1409 876.423 45.4629 876.185 45.8755C875.947 46.288 869.62 56.6032 862.126 68.7981C854.632 80.9931 848.5 91.4556 848.5 92.0481C848.5 92.7647 853.015 93.1255 861.981 93.1255C875.147 93.1255 875.474 93.073 875.959 90.8755C876.751 87.2984 884.5 33.726 884.5 31.8342C884.5 30.8944 883.6 29.2255 882.5 28.1255C880.633 26.2588 879.167 26.1255 860.5 26.1255C847.243 26.1255 840.5 25.7729 840.5 25.0792C840.5 24.5037 842.182 18.6254 844.239 12.0164L847.978 0L878.989 0.312923C906.699 0.59223 910.354 0.819017 913.329 2.44202C917.041 4.46781 920.443 10.7676 920.478 15.6824C920.489 17.3636 917.35 40.7381 913.5 67.6257C909.65 94.5134 906.5 116.65 906.5 116.819C906.5 116.988 880.594 117.126 848.932 117.126H791.364L796.182 110.296ZM25.3881 64.6751C19.4097 61.3128 19.0697 51.6189 24.8043 48.0298C31.1325 44.0692 40.5 48.9007 40.5 56.1253C40.5 62.8695 31.366 68.0372 25.3881 64.6751ZM36.1012 61.792C41.6677 57.0038 37.7904 48.1253 30.1328 48.1253C24.2739 48.1253 19.9983 54.4396 22.5783 59.2822C25.4331 64.6405 31.484 65.7635 36.1012 61.792ZM26.6362 56.3753C26.5026 51.2267 26.5556 51.1253 29.3776 51.1253C30.9602 51.1253 32.8696 51.8657 33.6206 52.7707C34.7874 54.1765 34.7466 54.5672 33.3403 55.4543C31.855 56.3912 31.8425 56.7184 33.2122 58.8089C34.1217 60.1969 34.2973 61.1253 33.6502 61.1253C33.0563 61.1253 32.0887 60.2253 31.5 59.1253C30.0689 56.4514 27.7428 56.5868 27.2057 59.3751C26.9674 60.6126 26.7111 59.2627 26.6362 56.3753ZM32.5 54.1253C32.5 53.5753 31.375 53.1253 30 53.1253C28.625 53.1253 27.5 53.5753 27.5 54.1253C27.5 54.6753 28.625 55.1253 30 55.1253C31.375 55.1253 32.5 54.6753 32.5 54.1253ZM495.516 25.389C495.524 24.969 497.236 19.2253 499.317 12.6253L503.102 0.625327L535.801 0.36154C553.785 0.216406 568.496 0.216406 568.491 0.36154C568.487 0.506673 566.783 6.25023 564.707 13.1252L560.932 25.6252L528.216 25.889C510.222 26.0342 495.507 25.8088 495.516 25.389ZM586.61 13.5184C588.749 6.58466 590.5 0.734689 590.5 0.518462C590.5 0.302273 605.125 0.125319 623 0.125319C648.319 0.125319 655.506 0.401561 655.526 1.37528C655.541 2.06278 653.887 7.91281 651.851 14.3753L648.149 26.1253H582.72L586.61 13.5184Z" fill="black"/>
                        </svg>
                    </a>
                    <div class="navbar__brand__hamburger">
                        <span class="navbar__brand__hamburger__line"></span>
                        <span class="navbar__brand__hamburger__line"></span>
                        <span class="navbar__brand__hamburger__line"></span>
                    </div>
                </div>
                <ul class="navbar__links-list" id="navbar-links">
                    <li class="navbar__links-list__items"><a class="btn expand-border" href="/">HOME</a></li>
                    <li class="navbar__links-list__items"><a class="btn expand-border" href="/products">PRODUCTS</a></li>
                    <li class="navbar__links-list__items"><a class="btn expand-border" href="/about">ABOUT</a></li>
                    <li class="navbar__links-list__items"><a class="btn expand-border" href="/contact">CONTACT</a></li>
                    <li class="navbar__links-list__items"><a class="btn expand-border" href="/blogs">BLOG</a></li>
                    <li class="navbar__links-list__items"><a class="btn expand-border" href="/faqs">HELP</a></li>
                </ul>
    
            </div>
        </nav>
    </header>

    <main>
        <%- body %>
        
    </main>

    <%- include('../components/_modalSearch') %>
    <%- include('../components/_modalQuote') %>
    <%- include('../components/_spinner') %>
    <%- include('../components/_messagebox') %>
    
    <%-defineContent('captcha-Script')%>

    <!-- <script type="module" src="/dist/js/main.bundle.js"></script> -->
    <script type="module" src="/js/script.js"></script>
</body>


</html>