<section class="recommended-collection">
    <div class="container-full">
        <h2 class="title">RECOMMENDED PRODUCTS</h2>
        
        <div class="flex">
            
            <% randomProducts.forEach(product => { %>
             
                <div quoteWrapper class="card quote-wrapper">
                    <a class="btn card__wrapper" href="/product/<%= product.slug %>">
                        <span productIdentifier class="display-none"><%= product.identifier %></span>
                        <picture>
                            <source media="(max-width: 961px)" srcset="/images/assets/300/<%= product.images[0].src %>">
                            <source media="(min-width: 962px)" srcset="/images/assets/500/<%= product.images[0].src %>">                            
                            <img width="500" height="500" loading="lazy" productImage class="image-responsive" src="/images/assets/300/<%= product.images[0].src %>" alt="<%= product.images[0].altText %>">
                        </picture>
                        <div class="caption">
                            
                            <div class="basic">
                                <p class="name card__caption__basic__name"><%= product.name %></p>
                                <div class="info">
                                    <p class="construction-type" ><%= product.categoryId ? product.category.name : '' %></p>
                                    <p class="usage"><%= product.usage %></p>
                                </div>
                            </div>
    
                            <div class="attribute">
                                <div class="card__caption__attribute__mod">
                                    <p class="">&nbsp;</p>
                                    <p class="">
                                        <span class="">&nbsp;</span>
                                    </p>
                                </div>
                                
                                <button quoteButton class="quote-button">Get Quote</button>
                            </div> 
    
                        </div>
                    </a>
                </div>

            <% }) %>
        </div>

            
            
        
    </div>
</section>