
<section class="container contact-page">
    <h1 class="contact-page-title">Hello<span class="dot">!</span> <span class="subtitle">Let's work together to create fantastic products that will take your brand to peek.</span></h1>

    <div class="availability-section">
        <h4>OPENING TIMES:</h4>
        <p class="timing">Monday, Tuesday, Wednesday, Thursday, Friday, Saturday 9am - 5pm</p>                
        <p class="alter">If we're not currently available, please use the form below to get in contact with our team. Alternatively visit our <a class="btn" href="#">Help page..</a></p>


    </div>

    <div class="contact-section">
        <div class="contact-form">

            <p id="message"></p>
            
            <form id="contactus" class="frmContact" action="/contact" method="post">
                <input type="hidden" id="_csrfToken" name="_csrfToken" value="<%= csrfToken %>">
                <div class="form-control">
                    <label class="label" for="txtName">Name <span class="link-red">*</span></label>
                    <input class="textbox input-full" minlength="4"  type="text" name="name" id="txtName" value="<%- message.contact ? message.contact[0].name : '' %>" autofocus required>
                    <span class="msg-error"></span>
                </div>

                <div class="form-control">
                    <label class="label"  for="txtEmail">Email <span class="link-red">*</span></label>
                    <input class="textbox input-full" type="email" name="email" id="txtEmail" value="<%- message.contact ? message.contact[0].email : '' %>" required>
                    <span class="msg-error"></span>
                </div>

                <div class="form-control">
                    <label class="label" for="dplCountry">Country <span class="link-red">*</span></label>
                    <select class="select input-full" name="country" id="dplCountry" required >
                        <option value="">Please select a country</option>
                        <option value="UK">UK</option>
                        <option value="USA">USA</option>
                    </select>
                    <span class="msg-error"></span>
                </div>                
                
                <div class="form-control">
                    <label class="label" for="txtMessage">Message <span class="link-red">*</span></label>
                    <textarea class="textarea input-full" name="message" id="txtMessage" placeholder="Please provide a detailed specification and description of your inquiry" required><%- message.contact ? message.contact[0].message : '' %></textarea>
                    <span class="msg-error"></span>
                </div>
                <input id="btnSend" class="btn btn-full btn-solid-primary" type="submit" value="Send">
            </form>
        </div>
        
        <div class="company-info">

            <h3>CONTACT</h3>
            <ul>
                <li><i class="fas fa-at"></i> reemasons@reemagroup.com</li>
                <li><i class="fas fa-phone-alt"></i>  +92 (52) 354 12 47</li>
                <li><i class="fas fa-phone-alt"></i>  +92 (52) 354 12 49</li>
                <li><i class="fas fa-mobile-alt"></i>   +92 (300) 96 12 686</li>
                <li><i class="fab fa-whatsapp"></i>   +92 (300) 96 12 686</li>
            </ul>

            <h3>ADDRESS</h3>
            <p>Neka Pura, Zafarwal Road,<br>
                Sialkot - 51310,<br>
                Punjab, Pakistan</p>




        </div>
    </div>

</section>

<%- include('./components/_footer') %>
<%- contentFor('captcha-Script') %>
<script src="https://www.google.com/recaptcha/api.js?render=6LefTBApAAAAAGdco4sK5twxnRng07x-QJLSaO8K"></script>
<script>
    document.getElementById('contactus').addEventListener('submit', (e)=>{
        e.preventDefault();

        const fullname =  document.querySelector('#txtName')
        const email =  document.querySelector('#txtEmail')
        const country =  document.querySelector('#dplCountry')
        const message =  document.querySelector('#txtMessage')
        const csrf =  document.querySelector('#_csrfToken')

        grecaptcha.execute('6LefTBApAAAAAGdco4sK5twxnRng07x-QJLSaO8K', {action: 'submit'})
        .then(async function(token) {
            
            const captcha = token
            const data = JSON.stringify({ 
                    fullname: fullname.value,
                    email: email.value,
                    country: country.value,
                    message: message.value,
                    _csrfToken: csrf.value,
                    captcha
                })

                
            try {
                const response = await fetch('/contact', {
                    method: 'POST', 
                    headers: {
                        'Accept': 'application/json, text/plain, */*',
                        'content-type': 'application/json'
                    },
                    body: data,
                })
    
                const result = await response.json();
                const messageElement = document.querySelector('#message')
                
                console.log(result);
    
                if (result.success) {
                    messageElement.classList.add('message-success')
                    messageElement.textContent = result.message
    
                    fullname.value = ""
                    email.value = ""
                    country.selectedIndex = 0;  
                    message.value = ""
    
                }else {
                    messageElement.classList.add('message-error')
                    messageElement.textContent = result.message
                }
                
            } catch (error) {
                console.log('bad response');
                messageElement.classList.add('message-error')
                messageElement.textContent = 'Email not sent, invalid request'
            }

        });

    });

</script>