
<section class="container contact-page">
    <h1 class="contact-page-title">Hello<span class="dot">!</span> <span class="subtitle">Let's work together to create fantastic products that will take your brand to peek.</span></h1>

    <div class="availability-section">
        <h4>OPENING TIMES:</h4>
        <p class="timing">Monday, Tuesday, Wednesday, Thursday, Friday, Saturday 9am - 5pm</p>                
        <p class="alter">If we're not currently available, please use the form below to get in contact with our team. Alternatively visit our <a class="btn" href="#">Help page..</a></p>


    </div>

    <div class="contact-section">
        <div class="contact-form">

            <p id="message"></p>
            
            <form id="contactus" class="frmContact" action="/contact" method="post">
                <input type="hidden" id="_csrfToken" name="_csrfToken" value="<%= csrfToken %>">
                <div class="form-control">
                    <label class="label" for="txtName">Name <span class="link-red">*</span></label>
                    <input class="textbox input-full" minlength="4"  type="text" name="name" id="txtName" value="<%- message.contact ? message.contact[0].name : '' %>" autofocus required>
                    <span class="msg-error"></span>
                </div>

                <div class="form-control">
                    <label class="label"  for="txtEmail">Email <span class="link-red">*</span></label>
                    <input class="textbox input-full" type="email" name="email" id="txtEmail" value="<%- message.contact ? message.contact[0].email : '' %>" required>
                    <span class="msg-error"></span>
                </div>

                <div class="form-control">
                    <label class="label" for="dplCountry">Country <span class="link-red">*</span></label>
                    <select class="select input-full" name="country" id="dplCountry" required >
                        <option value="">Please select a country</option>
                        <% for( let i = 0; i < countries.length; i++ ) { %>
                            <option value="<%= countries[i] %>"><%= countries[i] %></option>
                        <% } %>
                    </select>
                    <span class="msg-error"></span>
                </div>
                
                <div class="form-control">
                    <label class="label" for="txtMessage">Message <span class="link-red">*</span></label>
                    <textarea class="textarea input-full" name="message" id="txtMessage" placeholder="Please provide a detailed specification and description of your inquiry" required><%- message.contact ? message.contact[0].message : '' %></textarea>
                    <span class="msg-error"></span>
                </div>
                <input id="btnSend" class="btn btn-full btn-solid-primary" type="submit" value="Send">
            </form>
        </div>
        
        <div class="company-info">

            <h3>CONTACT</h3>
            <ul>
                <li>
                    <svg height="20" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M12.1094 0C5.41704 0 0 5.41597 0 12.1094C0 18.8017 5.41597 24.2188 12.1094 24.2188C14.4606 24.2188 16.7647 23.5283 18.7211 22.2547C19.3073 21.8731 19.4352 21.0688 18.9922 20.5276L18.4953 19.9205C18.1207 19.4629 17.4611 19.3508 16.9634 19.6701C15.5234 20.5936 13.8337 21.0938 12.1094 21.0938C7.15537 21.0938 3.125 17.0634 3.125 12.1094C3.125 7.15537 7.15537 3.125 12.1094 3.125C16.999 3.125 21.0938 5.93843 21.0938 10.9375C21.0938 12.8313 20.0638 14.8312 18.2534 15.0241C17.4063 15.0019 17.4277 14.3963 17.5954 13.5581L18.7396 7.64448C18.8795 6.92139 18.3256 6.25 17.5891 6.25H15.3928C15.2306 6.25 15.0741 6.30969 14.9531 6.4177C14.8322 6.52571 14.7552 6.67446 14.7369 6.8356L14.7364 6.84009C14.0188 5.96602 12.7614 5.77686 11.8082 5.77686C8.16655 5.77686 5.07812 8.81562 5.07812 13.1724C5.07812 16.361 6.87427 18.3418 9.76562 18.3418C11.0832 18.3418 12.5668 17.5783 13.4273 16.4701C13.8922 18.1353 15.4104 18.1353 16.8799 18.1353C22.1977 18.1353 24.2188 14.6386 24.2188 10.9375C24.2188 4.27993 18.8488 0 12.1094 0ZM11.0508 14.8647C9.9644 14.8647 9.28955 14.1019 9.28955 12.874C9.28955 10.6771 10.7924 9.32275 12.1523 9.32275C13.2408 9.32275 13.8907 10.0669 13.8907 11.3135C13.8907 13.5137 12.2366 14.8647 11.0508 14.8647Z" fill="black"/>
                    </svg>
                    reemasons@reemagroup.com
                </li>
                <li>
                    <svg height="20" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M25.0366 17.791L19.5679 15.4472C19.3343 15.3477 19.0746 15.3267 18.828 15.3875C18.5815 15.4482 18.3613 15.5875 18.2007 15.7842L15.7788 18.7431C11.9779 16.9511 8.91904 13.8922 7.12695 10.0913L10.0859 7.66942C10.283 7.5091 10.4226 7.28894 10.4833 7.04225C10.5441 6.79555 10.5229 6.53577 10.4229 6.30223L8.0791 0.833481C7.96929 0.581727 7.77508 0.376179 7.52996 0.252279C7.28483 0.128379 7.00416 0.0938938 6.73633 0.15477L1.6582 1.32664C1.39998 1.38627 1.1696 1.53166 1.00466 1.73909C0.83971 1.94651 0.749941 2.20372 0.75 2.46873C0.75 14.9931 10.9014 25.125 23.4062 25.125C23.6713 25.1252 23.9287 25.0354 24.1362 24.8705C24.3437 24.7055 24.4892 24.4751 24.5488 24.2168L25.7207 19.1387C25.7812 18.8695 25.746 18.5877 25.6211 18.3418C25.4963 18.0958 25.2896 17.901 25.0366 17.791Z" fill="black"/>
                    </svg>
                    
                      +92 (52) 354 12 47
                </li>
                <li>
                    <svg height="20" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M25.0366 17.791L19.5679 15.4472C19.3343 15.3477 19.0746 15.3267 18.828 15.3875C18.5815 15.4482 18.3613 15.5875 18.2007 15.7842L15.7788 18.7431C11.9779 16.9511 8.91904 13.8922 7.12695 10.0913L10.0859 7.66942C10.283 7.5091 10.4226 7.28894 10.4833 7.04225C10.5441 6.79555 10.5229 6.53577 10.4229 6.30223L8.0791 0.833481C7.96929 0.581727 7.77508 0.376179 7.52996 0.252279C7.28483 0.128379 7.00416 0.0938938 6.73633 0.15477L1.6582 1.32664C1.39998 1.38627 1.1696 1.53166 1.00466 1.73909C0.83971 1.94651 0.749941 2.20372 0.75 2.46873C0.75 14.9931 10.9014 25.125 23.4062 25.125C23.6713 25.1252 23.9287 25.0354 24.1362 24.8705C24.3437 24.7055 24.4892 24.4751 24.5488 24.2168L25.7207 19.1387C25.7812 18.8695 25.746 18.5877 25.6211 18.3418C25.4963 18.0958 25.2896 17.901 25.0366 17.791Z" fill="black"/>
                    </svg>
                        
                    +92 (52) 354 12 49
                    
                </li>
                <li>
                    <svg height="20" viewBox="0 0 17 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M13.7188 0.125H2.78125C1.4873 0.125 0.4375 1.1748 0.4375 2.46875V22.7812C0.4375 24.0752 1.4873 25.125 2.78125 25.125H13.7188C15.0127 25.125 16.0625 24.0752 16.0625 22.7812V2.46875C16.0625 1.1748 15.0127 0.125 13.7188 0.125ZM8.25 23.5625C7.38574 23.5625 6.6875 22.8643 6.6875 22C6.6875 21.1357 7.38574 20.4375 8.25 20.4375C9.11426 20.4375 9.8125 21.1357 9.8125 22C9.8125 22.8643 9.11426 23.5625 8.25 23.5625ZM13.7188 18.2891C13.7188 18.6113 13.4551 18.875 13.1328 18.875H3.36719C3.04492 18.875 2.78125 18.6113 2.78125 18.2891V3.05469C2.78125 2.73242 3.04492 2.46875 3.36719 2.46875H13.1328C13.4551 2.46875 13.7188 2.73242 13.7188 3.05469V18.2891Z" fill="black"/>
                    </svg>
                    +92 (300) 96 12 686</li>
                <li>
                    <svg height="20" viewBox="0 0 23 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M18.9111 3.86621C16.8652 1.81543 14.1406 0.6875 11.2451 0.6875C5.26855 0.6875 0.405273 5.55078 0.405273 11.5273C0.405273 13.4365 0.90332 15.3018 1.85059 16.9473L0.3125 22.5625L6.05957 21.0537C7.6416 21.918 9.42383 22.3721 11.2402 22.3721H11.2451C17.2168 22.3721 22.1875 17.5088 22.1875 11.5322C22.1875 8.63672 20.957 5.91699 18.9111 3.86621ZM11.2451 20.5459C9.62402 20.5459 8.03711 20.1113 6.65527 19.291L6.32812 19.0957L2.91992 19.9893L3.82812 16.6641L3.61328 16.3223C2.70996 14.8867 2.23633 13.2314 2.23633 11.5273C2.23633 6.56152 6.2793 2.51855 11.25 2.51855C13.6572 2.51855 15.918 3.45605 17.6172 5.16016C19.3164 6.86426 20.3613 9.125 20.3564 11.5322C20.3564 16.5029 16.2109 20.5459 11.2451 20.5459ZM16.1865 13.7979C15.918 13.6611 14.585 13.0068 14.3359 12.9189C14.0869 12.8262 13.9063 12.7822 13.7256 13.0557C13.5449 13.3291 13.0273 13.9346 12.8662 14.1201C12.71 14.3008 12.5488 14.3252 12.2803 14.1885C10.6885 13.3926 9.64355 12.7676 8.59375 10.9658C8.31543 10.4873 8.87207 10.5215 9.38965 9.48633C9.47754 9.30566 9.43359 9.14941 9.36523 9.0127C9.29688 8.87598 8.75488 7.54297 8.53027 7.00098C8.31055 6.47363 8.08594 6.54688 7.91992 6.53711C7.76367 6.52734 7.58301 6.52734 7.40234 6.52734C7.22168 6.52734 6.92871 6.5957 6.67969 6.86426C6.43066 7.1377 5.73242 7.79199 5.73242 9.125C5.73242 10.458 6.7041 11.7471 6.83594 11.9277C6.97266 12.1084 8.74512 14.8428 11.4648 16.0195C13.1836 16.7617 13.8574 16.8252 14.7168 16.6982C15.2393 16.6201 16.3184 16.0439 16.543 15.4092C16.7676 14.7744 16.7676 14.2324 16.6992 14.1201C16.6357 13.998 16.4551 13.9297 16.1865 13.7979Z" fill="black"/>
                    </svg>
                        
                    +92 (300) 96 12 686
                </li>
            </ul>

            <h3>ADDRESS</h3>
            <p>Neka Pura, Zafarwal Road,<br>
                Sialkot - 51310,<br>
                Punjab, Pakistan</p>




        </div>
    </div>

</section>

<%- include('./components/_footer') %>


<%- contentFor('captcha-Script') %>
<script src="https://www.google.com/recaptcha/api.js?render=6LefTBApAAAAAGdco4sK5twxnRng07x-QJLSaO8K"></script>
<script>
    document.getElementById('contactus').addEventListener('submit', (e)=>{
        e.preventDefault();

        const fullname =  document.querySelector('#txtName')
        const email =  document.querySelector('#txtEmail')
        const country =  document.querySelector('#dplCountry')
        const message =  document.querySelector('#txtMessage')
        const csrf =  document.querySelector('#_csrfToken')

        grecaptcha.execute('6LefTBApAAAAAGdco4sK5twxnRng07x-QJLSaO8K', {action: 'submit'})
        .then(async function(token) {
            
            const captcha = token
            const data = JSON.stringify({ 
                    fullname: fullname.value,
                    email: email.value,
                    country: country.value,
                    message: message.value,
                    _csrfToken: csrf.value,
                    captcha
                })

                
            try {
                const response = await fetch('/contact', {
                    method: 'POST', 
                    headers: {
                        'Accept': 'application/json, text/plain, */*',
                        'content-type': 'application/json'
                    },
                    body: data,
                })
    
                const result = await response.json();
                const messageElement = document.querySelector('#message')
                
                console.log(result);
    
                if (result.success) {
                    messageElement.classList.add('message-success')
                    messageElement.textContent = result.message
    
                    fullname.value = ""
                    email.value = ""
                    country.selectedIndex = 0;  
                    message.value = ""
    
                }else {
                    messageElement.classList.add('message-error')
                    messageElement.textContent = result.message
                }
                
            } catch (error) {
                console.log('bad response');
                messageElement.classList.add('message-error')
                messageElement.textContent = 'Email not sent, invalid request'
            }

        });

    });

</script>