<section class="hero">
  <div class="container full-max-width">
    <div class="hero__image hero__content">
      <a href="/products">
        <picture>
          <source
            media="(min-width: 962px)"
            srcset="/images/arena-star-small.jpg"
          />
          <img
            height="799"
            productImage
            class="image-responsive"
            src="/images/arena-star-smallx.jpg"
            alt="Arena Star Soccer ball"
          />
        </picture>
      </a>
    </div>
    <div class="hero__text hero__content">
      <h1>ALL YOU NEED TO POWER YOUR SPORT</h1>
      <p>
        We are expert in production, so naturally we create performance
        products. We do it through an obsessive attention to the craftmanship
        and deep expertise in designing, innovation and engineering. Executing
        all to create remarkable product that truly amaze athletes.
      </p>
      <a class="btn btn-standard btn-solid-primary" href="/products"
        >View our products</a
      >
    </div>
  </div>
</section>

<% let section = 0 %> <% for( let i = 0; i < categorySections.length; i++ ) { %>
<% if (i % 2 === 0) { %> <% if (section === 0) { %>
<section class="about">
  <div class="container-full">
    <p class="about__welcome">Welcome to</p>
    <h2 class="about__title">
      REEMA GROUP OF COMPANIES
      <span class="about__title__sub"
        >manufacturer of sports goods & sportswear</span
      >
    </h2>
    <p class="about__para">
      Reema is a sports goods and sportswear manufacturing firm that partners
      with forward-thinking brands from around the world. We combine experience
      and technology to create impressive product and bring a deep commitment to
      brand identity. We believe in delivering the best that matter and we get
      there by making unrelated raw material into incredible masterpiece – that
      occupy the sweet spot between admiration and inspiration.
      <a href="/about" class="btn">more...</a>
    </p>
  </div>
</section>
<% } else if (section === 1) { %>
<section class="features">
  <div class="container-full">
    <div class="features__section">
      <img
        loading="lazy"
        width="100"
        height="100"
        src="/images/customization.svg"
        alt="customized design for clients"
      />
      <h3>Custom Design Development</h3>
      <p>
        We develop customs designs according to client instructions and
        inspiration
      </p>
    </div>
    <div class="features__section">
      <img
        loading="lazy"
        width="100"
        height="100"
        src="/images/payments.svg"
        alt="different payment options for orders"
      />
      <h3>Easy Sample Payment</h3>
      <p>
        For sample's and trial order clients can use instant payments like
        PayPal
      </p>
    </div>
    <div class="features__section">
      <img
        loading="lazy"
        width="100"
        height="100"
        src="/images/moq.svg"
        alt="Flexible MOQ to faciliate clients"
      />
      <h3>Flexible MOQ</h3>
      <p>
        Our trial order quantities are very flexible so every body could order
        to check and test the quality
      </p>
    </div>
    <div class="features__section">
      <img
        loading="lazy"
        width="100"
        height="100"
        src="/images/shipping.svg"
        alt="different shipping options like courier, air and sea cargo"
      />
      <h3>Mutliple Shipping Options</h3>
      <p>
        Multiple shipping options are available for different size of shipments
      </p>
    </div>
  </div>
</section>
<% } else if (section === 2) { %>
<section class="experience">
  <video
    class="experience__video"
    preload="auto"
    muted
    src="https://reematec.com/images/Soccer.mp4"
    autoplay="autoplay"
    type="video/webm"
    loop
  ></video>
  <div class="experience__container">
    <div class="experience__container__wrapper container">
      <h2>WE BUILD INNOVATED & DURABLE PRODUCTS</h2>
      <P>With 6 decades of experience we deliver perfect product.</P>
      <a class="btn btn-standard btn-solid-primary" href="/about">Learn more</a>
    </div>
  </div>
</section>
<% } else if (section === 3) { %>
<h1><%= 'placeholder' %></h1>
<% } %> <% section +=1 %> <% } %>

<section class="product-collection">
  <div class="container-full">
    <h2 class="product-collection__title">
      <%= categorySections[i].name.toUpperCase() %>
      <span class="product-collection__title__sub">
        <%= categorySections[i].description %></span
      >
    </h2>
    <!-- You'll find a wide selection of gear suitable for youth football on up through college level play -->
    <div class="product-collection__flex">
      <!-- Quote Modal travers to .quote-wrapper from quote-button -->

      <% for( let p = 0; p < products.length; p++ ) { %> <% if
      (products[p].category.id === categorySections[i].id) { %>

      <div quoteWrapper class="product-collection__flex__card quote-wrapper">
        <a class="btn card__wrapper" href="/product/<%= products[p].slug %>">
          <span productIdentifier class="display-none"
            ><%= products[p].identifier %></span
          >
          <picture>
            <source
              media="(max-width: 961px)"
              srcset="/images/assets/300/<%= products[p].images[0].src %>"
            />
            <source
              media="(min-width: 962px)"
              srcset="/images/assets/500/<%= products[p].images[0].src %>"
            />
            <img
              width="500"
              height="500"
              loading="lazy"
              productImage
              class="image-responsive"
              src="/images/assets/300/<%= products[p].images[0].src %>"
              alt=""
            />
          </picture>
          <div class="card__caption">
            <div class="card__caption__basic">
              <p class="card__caption__basic__name"><%= products[p].name %></p>
              <div class="card__caption__basic__info">
                <p class="construction-type">
                  <%= products[p].category.name %>
                </p>
                <p class="usage"><%= products[p].usage %></p>
              </div>
            </div>

            <div class="card__caption__attribute">
              <div class="card__caption__attribute__sizing">
                <p class="">&nbsp;</p>
                <p class="">
                  <span class="">&nbsp;</span>
                </p>
              </div>

              <button quoteButton class="quote-button">Get Quote</button>
            </div>
          </div>
        </a>
      </div>

      <% } %> <% } %>
    </div>
  </div>
</section>
<% } %> <%- include('./components/_footer') %> <%- contentFor('captcha-Script')
%>
<script src="https://www.google.com/recaptcha/api.js?render=6LefTBApAAAAAGdco4sK5twxnRng07x-QJLSaO8K"></script>
