<div class="breadcrumb container">
    <a class="breadcrumb__link btn" href="/">Home</a>
    <span class="breadcrumb__separator">|</span>
    <a class="breadcrumb__link btn" href="#"><%= product.category.name %> </a>
    <span class="breadcrumb__separator">|</span>
    <a class="breadcrumb__link btn" href="#"><%= product.subCategory.name %></a>
    <span class="breadcrumb__separator">|</span>
    <span class="breadcurmb__page"><%= product.name %></span>
</div>

<article class="product-essential container">

    <div class="preview">

        <ul class="more-views">
            <% product.images.forEach(image => { %>
                <li><img class="image-responsive" src="/images/assets/100/<%= image.src %>" alt=""></li>
            <% }) %>
        </ul>

        <div class="product-views">
            <img class="image-responsive" src="/images/assets/<%= product.images[0].src %>" alt="">
        </div>

    </div>

    <div class="details">
        <h1 class="details__heading"><%= product.name %> <span><%= product.subCategory.name %> | <%= product.category.name %></span></h1>

        <p class="details__description">Durable futsal ball with controlled rebounce, laminated with EVA and lining.
            Winded bladder filled with fiber and printed with scratch resistant ink.</p>
        <P class="details__usage">Usage: <span>TRAINING</span></P>
        <P class="details__panel">Panel Quantity: <span>32 PANELS</span></P>

        <select name="" id="">
            <option value="5">select a size</option>
            <option value="5">Size 5</option>
            <option value="5">Size 4</option>
        </select>

        <button class="btn btn-full btn-solid-primary">Ask for Quote</button>
    </div>
</article>

<article class="tabs expanded container">
    <div class="tab">
        <input type="checkbox" id="description">
        <label for="description" class="header">
            <h3>DESCRIPTION</h3>
        </label>
        <div class="content">
            <h2>Level up your team!</h2>
            <p>Produced for soccer games on natural lawns, the Penalty 8 Pro XXI Field Ball has a standard size and
                seamless surface for astronomical kicks.&nbsp;A true ace recognizes the classic model from afar, and as
                soon as he makes the first contact with the product, he already feels all the benefits that the
                technologies present in the ball present.&nbsp;Starting with softness, speed and precision, the field
                ball goes further, and also guarantees 0% water absorption for you to perform in different climatic
                conditions.&nbsp;To finish with a flourish, the ball of natural lawns provides resistance, uniformity
                and stability for you to come out in the face of the goal and calmly put the ball in the drawer!</p>
            <h2>Benefits:</h2>
            <ul>
                <li>Softness.</li>
                <li>Speed.</li>
                <li>Precision.</li>
                <li>0% water absorption.</li>
                <li>Durability and stability.</li>
            </ul>
            <h2>Some technical differentials:</h2>
            <p>The Penalty 8 Pro XXI Field Soccer Ball was developed with 6D Camera technology, composed of discs
                positioned symmetrically, providing total balance for you to dominate the game.&nbsp;In addition, the
                pellet has a SIS Capsule, which protects the chamber for better air retention according to use.</p>
        </div>
    </div>

    <div class="tab">
        <input type="checkbox" id="specification">
        <label for="specification" class="header">
            <h3>SPECIFICATIONS</h3>
        </label>
        <div class="content">
            <table style="border-collapse: collapse; width: 100%; height: 273px; border-style: none;" border="0"
                cellpadding="10">
                <caption>&nbsp;</caption>
                <tbody>
                    <tr style="height: 18px;">
                        <td style="width: 48.1018%; height: 18px;"><strong>UPPER CASING</strong></td>
                    </tr>
                    <tr style="height: 37px;">
                        <td style="width: 48.1018%; height: 37px;">Ultra soft Hi-abrasion PU material texturized surface
                            for optimal ball contact and control. Laminated on Micro fiber backing support 1.2mm.</td>
                    </tr>
                    <tr style="height: 18px;">
                        <td style="width: 48.1018%; height: 18px;"><strong>AIR CUSHION</strong></td>
                    </tr>
                    <tr style="height: 18px;">
                        <td style="width: 48.1018%; height: 18px;">2mm modified Eva foam for ideal rebound and
                            playability, high energy return, soft hand.</td>
                    </tr>
                    <tr style="height: 18px;">
                        <td style="width: 48.1018%; height: 18px;"><strong>REINFORCEMENT</strong></td>
                    </tr>
                    <tr style="height: 37px;">
                        <td style="width: 48.1018%; height: 37px;">1 layer of PV. Interweaving and crossed @ 90&deg;.
                            Laminated with High Ammonia latex, 60% dry rubber content treated with bacteriostatic
                            protection.</td>
                    </tr>
                    <tr style="height: 18px;">
                        <td style="width: 48.1018%; height: 18px;"><strong>AIR CUSHION</strong></td>
                    </tr>
                    <tr style="height: 18px;">
                        <td style="width: 48.1018%; height: 18px;">3mm modified Eva foam for ideal rebound and
                            playability, high energy return, soft hand.</td>
                    </tr>
                    <tr style="height: 18px;">
                        <td style="width: 48.1018%; height: 18px;"><strong>AIR CHAMBER</strong></td>
                    </tr>
                    <tr style="height: 37px;">
                        <td style="height: 37px;">Fitted with Butyl moulded double sheeted bladder, winded and
                            reinforced with 2200 yards of polyester, interchangeable needle valve system balanced
                            bladder having high air retention properties versus time.</td>
                    </tr>
                    <tr style="height: 18px;">
                        <td style="width: 48.1018%; height: 18px;"><strong>PRINTS</strong></td>
                    </tr>
                    <tr style="height: 18px;">
                        <td style="width: 48.1018%; height: 18px;">Reactive &amp; cross-linked PU ink, shiny film,
                            scratch resistant.</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="tab">
        <input type="checkbox" id="features">
        <label for="features" class="header">
            <h3>FEATURES</h3>
        </label>
        <div class="content">
            <ul>
                <li>WEIGHT: 420-445G</li>
                <li>CIRCUMFERENCE: 68.5-69.5 CM</li>
                <li>GOMES: 8</li>
                <li>LAMINATE: PU PRO</li>
                <li>CONSTRUCTION: TERMOTEC</li>
                <li>CAMERA: 6D</li>
                <li>EXTRA PROCESS: DOUBLE GLUING</li>

            </ul>
        </div>
    </div>

    <div class="tab">
        <input type="checkbox" id="care">
        <label for="care" class="header">
            <h3>CARE</h3>
        </label>
        <div class="content">
            <ul>
                <li>CLEAN THE BALL WITH A BRUSH OR CLEAN CLOTH SLIGHTLY Damp WITH WATER AFTER USE</li>
                <li>DRY THE BALL COMPLETE</li>
                <li>STORE IN A DRY AND VENTILATED ENVIRONMENT</li>
                <li>DO NOT LEAVE EXPOSURE TO THE SUN OR RAIN</li>
                <li>KEEP IT ALWAYS CALIBRATED</li>
            </ul>
        </div>
    </div>


</article>