<div class="breadcrumb container">
    <a class="breadcrumb__link btn" href="/">Home</a>
    <span class="breadcrumb__separator">/</span>
    <span class="breadcurmb__page">
        <%= title %>
    </span>
</div>

<article class="showcase container">
    <aside class="sidebar">
        <ul class="sidebar__list">

            <% categories.forEach(c=> { %>
                <% if (c.showSubMenu) { %>

                    <li id="<%= c.slug %>">
                        <label class="sidebar__list__header" for="<%= c.name %>">
                            <p><%= c.name %></p>
                            <span>
                                <svg width="15" height="10" viewBox="0 0 15 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M7.59086 9.65204L14.6519 2.59204L12.5299 0.470038L7.59086 5.41004L2.65186 0.470039L0.529854 2.59204L7.59086 9.65204Z" fill="black"/>
                                </svg>
                            </span>
                        </label>
                        
                        <input type="checkbox" id="<%= c.name %>">
                        
                        <ul class="sidebar__list__items__sub">
                            <% c.subCategories.forEach(s=> { %>
                                <li>
                                    <a class="btn" href="/subcategory/<%= s.slug %>"><%= s.name %></a>
                                </li>
                            <% }) %>
                        </ul>
                    </li>
                    
                <% } else { %>
                    <li class="sidebar__list__items">
                        <a class="btn" href="/category/<%= c.slug %>"><%= c.name %></a>
                    </li>
                <% } %>
            <% }) %>

        </ul>

        <div class="filters">
            <h4 class="collection">Filter collection:</h4>

            
            <form id="frmCollection" action="">
                
                
                <% filterCollection.forEach(fc => { %>
                    
                    <div class="field">
                        <input type="radio" id="<%= fc.year %>" name="collection" value="<%= fc.year %>" <%= collection == fc.year ? 'checked' : '' %>  >
                        <label for="<%= fc.year %>"><%= fc.year %></label>
                    </div>
                    
                <% }) %>
                    
                <button class="btnFilter" type="submit" value="filter">Filter</button>
                <button class="btnReset" type="reset" value="reset">Reset</button>
            </form>
              
            <form action="" method="get">
                
            </form>
        </div>
    </aside>

    <section class="products">
        <div class="products__description">

            <h1>
                <%= title %>
            </h1>
            <p>Reematec not only hand and machine Swen football but also produce Hybrid and Thermo Bonded footballs
                using technology. We not only provide the products according to customer demand but also provide
                excellent services to customers. We manufacture Such footballs in our factory, Whose design does not
                only impress the customers, but they can also use for a long time.</p>

        </div>
        
        <div class="products__toolbar">
            <p>Total: <span>
                    <%= products.count %>
                </span> Models</p>
            <div class="sort-by">
                <form action="" method="get">
                    <label for="sorting">Sort:</label>
                    <select name="sort" id="sorting">
                        <option value="asc" <%= sort === 'asc' ? 'selected' : '' %>>A - Z</option>
                        <option value="desc" <%= sort === 'desc' ? 'selected' : '' %>>Z - A</option>
                        <option value="usage" <%= sort === 'usage' ? 'selected' : '' %>>Usage</option>
                    </select>
                </form>
            </div>
        </div>


        <div id="product-container" class="product-page-collection__grid">

            <% for (let p=0; p < products.rows.length; p++) {%>
                
                <div quoteWrapper class="product-page-collection__grid__card">
                    <a class="btn card__wrapper" href="/product/<%= products.rows[p].slug %>">
                        <span productIdentifier class="display-none"><%= products.rows[p].identifier %></span>
                        <picture>
                            <source media="(max-width: 961px)" srcset="/images/assets/300/<%= products[p].images[0].src %>">
                            <source media="(min-width: 962px)" srcset="/images/assets/500/<%= products[p].images[0].src %>">
                            <img loading="lazy" productImage class="image-responsive" src="/images/assets/300/<%= products.rows[p].images[0].src %>" alt="<%= products.rows[p].images[0].altText %>">
                        </picture>

                        <div class="card__caption">
                            <div class="card__caption__basic">
                                <p class="card__caption__basic__name"><%= products.rows[p].name %></p>
                                <div class="card__caption__basic__info">
                                    <h3 class="construction-type"><%= products.rows[p].usage %></h3>
                                    <p class="usage"><%= products.rows[p].subCategoryId ? products.rows[p].subCategory.name : '' %></p>
                                </div>
                            </div>

                            <div class="card__caption__attribute">
                                <div class="card__caption__attribute__mod">
                                    <h4 class="">&nbsp;</h4>
                                    <p class="">
                                        <span class="">&nbsp;</span>
                                    </p>
                                </div>

                                <button quoteButton class="quote-button">Get Quote</button>
                            </div>
                        </div>
                    </a>
                </div>

            <% } %>

        </div>
        <div class="pagination_wrapper">
            <ul>
                <% if ((parseInt(products.currentPage)-1) > 0  ) { %>
                    <li><a href="<%= currentUrl %>?page=<%= parseInt(products.currentPage)-1 %><%=collection ? `&collection=${collection}` : '' %><%=sort ? `&sort=${sort}` : '' %>"><<</a></li>
                <% } %>
                
                <% if (products.totalPages > 1) { %>
                    <% for( let i = 1; i < products.totalPages+1; i++ ) { %>
                        <% if (products.currentPage == i) { %>
                            <li> <span class="active"><%= i %></span></li>
                        <% } else { %>
                            <li><a href="<%= currentUrl %>?page=<%= i %><%=collection ? `&collection=${collection}` : '' %><%=sort ? `&sort=${sort}` : '' %>"><%= i %></a></li>
                        <% } %>
                    <% } %>
                <% } %> 
                
                

                <% if (parseInt(products.totalPages) > (parseInt(products.currentPage))   ) { %>
                    <li><a href="<%= currentUrl %>?page=<%= parseInt(products.currentPage)+1 %><%=collection ? `&collection=${collection}` : '' %><%=sort ? `&sort=${sort}` : '' %>">>></a></li>
                <% } %>
            </ul>
        </div>
        <% if (products.count) { %>
            <!-- <button class="btn btn-standard btn-solid-primary" id="btnLoadMore">Load More</button> -->

        <% } %>
    </section>
</article>

<%- include('./components/_recommended') %>

<%- include('./components/_footer') %>

<%- contentFor('captcha-Script') %>
<script src="https://www.google.com/recaptcha/api.js?render=6LefTBApAAAAAGdco4sK5twxnRng07x-QJLSaO8K"></script>