<div class="breadcrumb container">
    <a class="breadcrumb__link btn" href="/">Home</a>
    <span class="breadcrumb__separator">|</span>
    <a class="breadcrumb__link btn" href="/category/<%= product.category.slug %>"><%= product.category.name %> </a>
    <span class="breadcrumb__separator">|</span>
    <% if (product.subCategoryId > 0) { %> <a class="breadcrumb__link btn" href="/subcategory/<%= product.subCategory.slug %>"> <%= product.subCategory.name %> &nbsp; | &nbsp; </a> <% } %>
    <span class="breadcurmb__page"><%= product.name %></span>
</div>

<article class="product-essential container">

    <div class="preview">

        <ul class="more-views">
            <% product.images.forEach(image => { %>
                <li><img class="image-responsive" src="/images/assets/100/<%= image.src %>" alt=""></li>
            <% }) %>
        </ul>

        <div class="product-views">
            <img class="image-responsive" src="/images/assets/<%= product.images[0].src %>" alt="">
        </div>

    </div>

    <div class="details">
        <h1 class="details__heading"><%= product.name %> <span> <% if (product.subCategoryId > 0) { %> <%= product.subCategory.name %> &nbsp; | &nbsp; <% } %> <%= product.category.name %></span></h1>

        <p class="details__description"><%= product.shortDescription %></p>
        <P class="details__usage">Usage: <span><%= product.usage %></span></P>
        <P class="details__panel">Panel Quantity: <span>32 PANELS</span></P>

        <select name="" id="">
            <option>select a size</option>
            <% product.sizes.forEach(s => { %>
                <option value="<%= s.identifier %>"><%= s.size %></option>
            <% }) %>
        </select>
            
        <button class="btn btn-full btn-solid-primary">Ask for Quote</button>

    </div>
</article>

<article class="tabs expanded container">
    <div class="tab">
        <input type="checkbox" id="description">
        
        <label for="description" class="header"> <h3>DESCRIPTION</h3> </label>
        
        <div class="content"><%- product.LongDescription %></div>
    </div>

    <div class="tab">
        <input type="checkbox" id="specification">
        
        <label for="specification" class="header"> <h3>SPECIFICATIONS</h3> </label>

        <div class="content"><%- product.specifications %></div>
    </div>

    <div class="tab">
        <input type="checkbox" id="features">
        <label for="features" class="header"> <h3>FEATURES</h3> </label>
        <div class="content">
            <%- product.features %>  
        </div>
    </div>

    <div class="tab">
        <input type="checkbox" id="care">
        <label for="care" class="header">
            <h3>CARE</h3>
        </label>
        <div class="content">
            <%- product.care %>
        </div>
    </div>


</article>

<%- include('./components/_recommended') %>

<%- include('./components/_footer') %>