<section class="container dashboard-page">

    <%- include('../components/_flashMessages') %>
    
    
    <div class="card">
        <div  class="card-header">
            <p>Add - Blog</p>
        </div>
        
        <div class="card-body">            
            
            <form encType="multipart/form-data" method="POST">
                
                <div class="form-control">
                    <label class="label caption" for="image">Main Image: </label>
                    <input class="field" type="file" name="image" value="">
                </div>

                <div class="form-control">
                    <label class="label caption" for="txtBlogName">Blog Name: </label>
                    <input class="textbox field" type="text" name="name" id="txtBlogName" value="<%- message.blog ? message.blog[0].name : '' %>" autofocus required>
                </div>
                
                <div class="form-control">
                    <label class="label caption" for="txtSlug">Slug: </label>
                    <input  class="textbox field" type="text" name="slug" id="txtSlug" value="<%- message.blog ? message.blog[0].slug : '' %>">
                </div>
                
                <div class="form-control">
                    <label class="label caption" for="txtPageTitle">Page Title: </label>
                    <input  class="textbox field" type="text" name="pagetitle" id="txtPageTitle" value="<%- message.blog ? message.blog[0].pagetitle : '' %>">
                </div>
                
                <div class="form-control">
                    <label class="label caption" for="txtContent">Content: </label>
                    <textarea  class="textbox field" type="text" name="content" id="txtContent"><%- message.blog ? message.blog[0].content : '' %></textarea>
                </div>
                
                <div class="form-control">
                    <label class="label caption" for="chkActive">Active: </label>
                    <div>
                        <input class="field" type="checkbox" name="active" id="chkActive" <% if (message.blog && message.blog[0].active) { %> <%= 'checked' %>  <% } %>>
                    </div>
                </div>

                <div class="form-control">
                    <div class="caption">&nbsp;</div>
                    <div class="field">
                        <a class="btn btn-normal btn-gray" href="/home/blogs">Cancel</a>
                        <input class="btn btn-normal btn-blue" type="submit" name="Submit" value="Submit">
                    </div>
                </div>               
                
            </form>
        </div>
    </div>
</section>
