<section class="container dashboard-page">

    <%- include('../components/_flashMessages') %>

    <div class="card">
        <div  class="card-header">
            <p>Add - Category</p>
        </div>
        <div class="card-body">
            
            <form action="/home/update-category" method="post">
                <input type="hidden" name="identifier" value="<%= category.identifier %>">

                <div class="form-control">
                    <label class="label caption" for="txtCategoryName">Category Name: </label>
                    <input class="textbox field" type="text" name="name" id="txtCategoryName" value="<%= category.name %>">
                </div>
                
                <div class="form-control">
                    <label class="label caption" for="txtSlug">Slug: </label>
                    <input  class="textbox field" type="text" name="slug" id="txtSlug"  value="<%= category.slug %>">
                </div>

                <div class="form-control">
                    <label class="label caption" for="txtPageTitle">Page Title: </label>
                    <input  class="textbox field" type="text" name="pagetitle" id="txtPageTitle" value="<%- category.pagetitle %>">
                </div>
                
                <div class="form-control">
                    <label class="label caption" for="txtDescription">Description: </label>
                    <textarea  class="textbox field" type="text" name="description" id="txtDescription"><%- category.description %></textarea>
                </div>
                
                <div class="form-control">
                    <label class="label caption" for="chkShowSubMenu">Show Submenu: </label>
                    <div>
                        <input class="field"  type="checkbox" name="showSubMenu" id="chkShowSubMenu" <% if (category.showSubMenu) { %> <%= 'checked' %> <% } else { %> <%= '' %>  <% } %> >
                    </div>
                </div>
                
                <div class="form-control">
                    <label class="label caption" for="chkActive">Active: </label>
                    <div>
                        <input class="field" type="checkbox" name="active" id="chkActive" <% if (category.active) { %> <%= 'checked' %> <% } else { %> <%= '' %>  <% } %> >
                    </div>
                </div>

                <div class="form-control">
                    <div class="caption">&nbsp;</div>
                    <div class="field">
                        <input class="btn btn-normal btn-blue" type="submit" value="Update">
                        <a class="btn btn-normal btn-gray" href="/home/category">Cancel</a>
                    </div>
                </div>               
                
            </form>
            
        </div>
    </div>
</section>

       
