<section class="container dashboard-page">

	<% if (message.success) { %>
		<% message.success.forEach(s => { %>
			<p style="color:green; font-weight: 700"><%= s.msg %></p>
		<% }) %>
    <% } %>
	
	<% if (message.errors) { %>
		<% message.errors.forEach(error => { %>
			<p style="color:red; font-weight: 700"><%= error.msg %></p>
		<% }) %>
    <% } %>

	<h1>Category Summary</h1>

	<a class="btn btn-standard btn-solid-primary" href="/home/add-category">Add Category</a>
	
	<table>
		<tr>
		
		<th>Category Name</th>
		<th>Slug</th>
		<th>Show Submenu</th>
		<th>Active</th>
		<th>Action</th>
		</tr>
		<% categories.forEach(i => { %>
		
		<tr>              
			<td><%= i.name %> </td>
			<td><%= i.slug %> </td>
			<td><%= i.showSubMenu %> </td>
			<td><%= i.active %> </td>              
			<td>
			<a class="btn btn-link link-blue" href="/home/update-category/<%= i.slug %>">Edit</a> |
			<a class="btn btn-link link-red" href="/home/delete-category/<%= i.slug %>">Delete</a>
			</td>
		</tr>
		
		<% }) %>
		
	</table>
  </section>


