<section class="container dashboard-page">

	<%- include('../components/_flashMessages') %>

	<h1>Category Summary</h1>

	<a class="btn btn-standard btn-solid-primary" href="/home/add-category">Add Category</a>
	
	<table>
		<tr>
		
		<th>Category Name</th>
		<th>Slug</th>
		<th>Show Submenu</th>
		<th>Show on Homepage</th>
		<th>Active</th>
		<th>Action</th>
		</tr>
		<% categories.forEach(i => { %>
		
		<tr>              
			<td><%= i.name %> </td>
			<td><%= i.slug %> </td>
			<td><%= i.showSubMenu ? '✓' : '❌' %></td>
			
			<td>
				<% if (user && user.role === "Admin") { %>
					<form action="/home/category-display/<%= i.slug %>" method="post">
						<input  type="hidden" name="slug" value="<%= i.slug %>">
						<input type="hidden" name="_csrfToken" value="<%= csrfToken %>">
						<button class="btn btn-link " type="submit"> <%= i.showOnHomepage ? '✓' : '❌' %></button>
					</form> 
				<% } %>
			</td>
			<td>
				<% if (user && user.role === "Admin") { %>
					<form action="/home/category-status/<%= i.slug %>" method="post">
						<input  type="hidden" name="slug" value="<%= i.slug %>">
						<input type="hidden" name="_csrfToken" value="<%= csrfToken %>">
						<button class="btn btn-link " type="submit"> <%= i.active ? '✓' : '❌' %></button>
					</form> 
				<% } %>
			</td>
			

			<td>
			<a class="btn btn-link link-blue" href="/home/update-category/<%= i.slug %>">Edit</a> |
			<a class="btn btn-link link-red" href="/home/delete-category/<%= i.slug %>">Delete</a>
			</td>
		</tr>
		
		<% }) %>
		
	</table>
  </section>


