<section class="container dashboard-page">

    <%- include('../components/_flashMessages') %>

    <div class="card">
        <div  class="card-header">
            <p>Gallery</p>
        </div>
        <div class="card-body">
            
            <h1><a href="/home/images/add">Add Images</a></h1>

            <div class="gallery">
                <% for (let i in images) {%>
    
                    <div class="image-wrapper">
                        <button class="show-image-preview" data-identifier="<%= images[i].src %>">
                            <img class="image-responsive" src="/images/assets/100/<%= images[i].src %>"/>
                        </button>
    
                        <div class="action-wrapper">
                            <a class="btn btn-link link-blue" href="/home/update-image/<%= images[i].identifier %>">Edit</a> | 
                            <a class="btn btn-link link-red" href="/home/delete-image/<%= images[i].identifier %>">Delete</a></td>
                        </div>
                    </div>
                <% } %>
            </div>

                


        </div>
    </div>

</section>
<%- include('../components/_modalImagePreview') %>
