<section class="container dashboard-page">

    <%- include('../components/_flashMessages') %>

    <div class="card">
        <div  class="card-header">
            <p>Update - Image</p>
        </div>
        <div class="card-body">
            <img height="100" src="/images/assets/<%= image.src %>"  alt="">
            <form method="POST" enctype="multipart/form-data">
                <input type="hidden" name="_csrfToken" value="<%= csrfToken %>">
                
                <div class="form-control">
                    <label class="label caption" for="txtAlt">Alternate Text: </label>
                    <input class="textbox field" type="text" name="altText" id="txtAlt" value="<%= image.altText %>">
                </div>

                <div class="form-control">
                    <label class="label caption" for="txtTitle">Title: </label>
                    <input class="textbox field" type="text" name="title" id="txtTitle" value="<%= image.title %>" >
                </div>
                
                <div class="form-control">
                    <label class="label caption" for="txtDescription">Description: </label>
                    <input class="textbox field" type="text" name="description" id="txtDescription" value="<%= image.description %>" >
                </div>
                
                <div class="form-control">
                    <label class="label caption" for="txtCaption">Description: </label>
                    <input class="textbox field" type="text" name="caption" id="txtCaption" value="<%= image.caption %>" >
                </div>

                <input class="btn btn-normal btn-red" type="submit" name="Submit" value="Save">
                <a  class="btn btn-normal btn-gray" href="/home/images">Cancel</a>
            </form>
        </div>
    </div>
</section>
