<section class="container dashboard-page">

    <%- include('../components/_flashMessages') %>

    <div class="card">
        <div class="card-header">
            <p>Add - Product</p>
        </div>
        <div class="card-body">

            <form action="/home/add-product" method="POST">
                <input type="hidden" name="_csrfToken" value="<%= csrfToken %>">

                <div class="form-control">
                    <label class="label caption" for="txtName">Name: </label>
                    <input class="textbox field" type="text" name="name" id="txtName" value="<%- message.addProduct ? message.addProduct[0].name : '' %>" autofocus required>
                </div>

                <div class="form-control">
                    <label class="label caption" for="txtSlug">slug: </label>
                    <input class="textbox field" type="text" name="slug" id="txtSlug" value="<%- message.addProduct ? message.addProduct[0].slug : '' %>" required>
                </div>

                <div class="form-control">
                    <label class="label caption" for="chkShowcased">Showcased: </label>
                    <div><input class="field" type="checkbox" name="showcased" id="chkShowcased" <%- message.addProduct && message.addProduct[0].showcased ? 'checked' : '' %>></div>
                </div>

                <div class="form-control">
                    <label class="label caption" for="chkrecommended">recommended: </label>
                    <div><input class="field" type="checkbox" name="recommended" id="chkrecommended" <%- message.addProduct && message.addProduct[0].recommended ? 'checked' : '' %>></div>
                </div>

                <div class="form-control">
                    <label class="label caption" for="chkactive">active: </label>
                    <div><input class="field" type="checkbox" name="active" id="chkactive" <%- message.addProduct && message.addProduct[0].active ? 'checked' : '' %>></div>
                </div>

                <div class="form-control">
                    <label class="label caption" for="txtUsage">Usage: </label>
                    <input class="textbox field" type="text" name="usage" id="txtUsage" value="<%- message.addProduct ? message.addProduct[0].usage : '' %>">
                </div>
                
                <div class="form-control">
                    <label class="label caption" for="year">Year: </label>
                    <input class="textbox field" type="number" min="1900" max="2099" name="year" step="1" value="<%- message.addProduct ? message.addProduct[0].year : '' %>" required>
                    
                </div>

                <div class="form-control">
                    <label class="label caption" for="price">price: </label>
                    <input class="textbox field" type="number" min="0" name="price" id="price" value="<%- message.addProduct ? message.addProduct[0].price : '0' %>" required>
                </div>

                <div class="form-control">
                    <label class="label caption" for="pagetitle">pagetitle: </label>
                    <input class="textbox field" type="text" name="pagetitle" id="pagetitle" value="<%- message.addProduct ? message.addProduct[0].pagetitle : '' %>" required>
                </div>

                <div class="form-control">
                    <label class="label caption" for="shortDescription">shortDescription: </label>
                    <input class="textbox field" type="text" name="shortDescription" id="shortDescription" value="<%- message.addProduct ? message.addProduct[0].shortDescription : '' %>" required>
                </div>

                <div class="form-control">
                    <label class="label caption" for="txtLongDescription">Long Description: </label>
                    <textarea name="LongDescription" class="textarea field" id="" cols="30" rows="10"><%- message.addProduct ? message.addProduct[0].LongDescription : '' %></textarea>
                </div>

                <div class="form-control">
                    <label class="label caption" for="specifications">specifications: </label>
                    <textarea name="specifications" class="textarea field" id="" cols="30" rows="10"><%- message.addProduct ? message.addProduct[0].specifications : '' %></textarea>
                </div>

                <div class="form-control">
                    <label class="label caption" for="features">features: </label>
                    <textarea name="features" class="textarea field" id="" cols="30" rows="10"><%- message.addProduct ? message.addProduct[0].features : '' %></textarea>
                </div>

                <div class="form-control">
                    <label class="label caption" for="care">care: </label>
                    <textarea name="care" class="textarea field" id="" cols="30" rows="10"><%- message.addProduct ? message.addProduct[0].care : '' %></textarea>
                </div>

                <div class="form-control">
                    <label class="label caption" for="sltCategory">Main Category</label>
                    <select class="select field" name="category" id="sltCategory" required>
                        <option value="">Please select a category</option>
                        
                        <% for( let c in categories ) { %>
                            <% if (message.addProduct && message.addProduct[0].category) { %>
                                <option value="<%=  categories[c].id %>"  <%= message.addProduct[0].category == categories[c].id ? 'selected' : ''  %>> 
                                    <%= categories[c].name %> 
                                </option>
                            <% } else { %>
                                <option value="<%=  categories[c].id %>"> <%= categories[c].name %> </option>
                            <% } %>
                        <% } %>

                    </select>
                </div>

                <div class="form-control">
                    <label class="label caption" for="sltSubCategory">Sub Category</label>
                    <select class="select field" name="subCategory" id="sltSubCategory"></select>
                </div>

                <div class="form-control">
                    <label class="label caption" for="image_id">Images: </label>
                    <div id="selected-images"></div>

                    <div id="product-image-array"></div>
                    <button id="btn-model-images" class="quote-button">Select Images</button>
                </div>

                <div class="form-control">
                    <label class="label caption" for="size_id">Sizes: </label>
                    <div class="field">
                        <% for( let i in sizes ) { %>
                            <span>
                                <input type="checkbox" name="size" id="<%= sizes[i].identifier %>" value="<%= sizes[i].identifier %>">
                                <label for="<%= sizes[i].identifier %>"><%= sizes[i].size %></label>
                            </span>
                            <% } %>
                    </div>
                </div>

                <div class="form-control">
                    <label class="label caption" for="tag_id">Tags: </label>
                    <div class="field">
                        <% for( let i in tags ) { %>
                            <span>
                                <input type="checkbox" name="tag" id="<%= tags[i].identifier %>" value="<%= tags[i].identifier %>">
                                <label for="<%= tags[i].identifier %>">
                                    <%= tags[i].name %>
                                </label>
                            </span>
                            <% } %>
                    </div>
                </div>



                <div class="form-control">
                    <div class="caption"></div>
                    <div class="field">
                        <a class="btn btn-normal btn-gray" href="/home/product">Cancel</a>
                        <input class="btn btn-normal btn-blue" type="submit" name="Submit" value="Create">
                    </div>
                </div>

            </form>

            &nbsp;
            &nbsp;
            &nbsp;

        </div>
    </div>

</section>

<script>
    const form = document.querySelector('form');
    const sltCategory = document.querySelector('#sltCategory');
    const sltSubCategory = document.querySelector('#sltSubCategory');

    if (sltCategory.value === ''){
            AddOption('No subcategory available')
            // return
    } 
    
    sltCategory.addEventListener('change', async (e) => {
        e.preventDefault();

        
        if (sltCategory.value === ''){
            AddOption('No subcategory available')
            return
        } 
               
        
        try {
            const res = await fetch(`/home/add-product/getsubcategories/${sltCategory.value}`, 
                // {
                //     method: 'post',
                //     body: JSON.stringify({ id: sltCategory.value }),
                //     headers: { 'Content-Type': 'application/json' }
                // }
            );
            const data = await res.json();

            if (!data.subcategories.length) {
                AddOption('No subcategory available')
                return
            }
            
            sltSubCategory.textContent = '';
            AddOption('Please select a subcategory')
            data.subcategories.forEach(e => {
                
                const option = document.createElement("option");
                option.text = e.name;
                option.value = e.id
                sltSubCategory.add(option);

            });

            // if (data.errors) {
            //     emailError.textContent = data.errors.email;
            //     passwordError.textContent = data.errors.password;
            // }
            // if (data.user) {
            //     location.assign('/');
            // }

        }
        catch (err) { console.log(err); }

    });
    function AddOption(text) {
        sltSubCategory.textContent = '';
        const option = document.createElement("option");
        option.text = text;
        option.value = 0
        sltSubCategory.add(option);
    }


</script>