<section class="container dashboard-page">
	<h1>Products</h1>

	<%- include('../components/_flashMessages') %>


	<a class="btn btn-standard btn-solid-primary" href="/home/add-product">Add Product</a>

	<table>
		<tr>
			<th></th>
			<th>Name</th>
			<th>Slug</th>
			<th>Showcased</th>
			<th>Recommended</th>
			<th>Active</th>
			<th>Price</th>
			<th>Usage</th>
			<th>Category</th>
			<th>Subcategory</th>
			
			
			<th>Action</th>
		</tr>


		<% for (let p = 0; p < products.length; p++) {%>
		
		<tr>
			
			<td><img src="/images/assets/100/<%= products[p].images[0] ? products[p].images[0].src : '' %>" alt=""> </td>
			<td><%= products[p].name %> </td>
			<td><%= products[p].slug %></td>
			<td><%= products[p].showcased ? '✓' : '❌' %></td>
			<td><%= products[p].recommended ? '✓' : '❌' %></td>
			<td><%= products[p].active ? '✓' : '❌' %></td>
			<td><%= products[p].price %></td>
			<td><%= products[p].usage %></td>
			<td><%= products[p].categoryId ? products[p].category.name : '' %></td>
			<td><%= products[p].subCategoryId ? products[p].subCategory.name : '' %></td>
			
			
			
			<td>
				<a class="btn btn-link link-blue" href="/home/view-product/<%= products[p].slug %>">View</a> |
				<a class="btn btn-link link-blue" href="/home/update-product/<%= products[p].slug %>">Edit</a> |
				<a class="btn btn-link link-red" href="/home/delete-product/<%= products[p].slug %>">Delete</a>
			</td>
		</tr>
		
		<% } %> 
	</table>
</section>