<section class="container dashboard-page">

    <%- include('../components/_flashMessages') %>

    <div class="card">
        <div class="card-header">
            <p>Update - Product</p>
        </div>
        <div class="card-body">

            <form method="POST">
                <input type="hidden" name="_csrfToken" value="<%= csrfToken %>">
                
                <div class="form-control">
                    <label class="label caption" for="txtName">Name: </label>
                    <input class="textbox field" type="text" name="name" id="txtName" <% if (product.name) { %> value="<%= product.name %>" <% } %>> 
                </div>

                <div class="form-control">
                    <label class="label caption" for="txtSlug">slug: </label>
                    <input class="textbox field" type="text" name="slug" id="txtSlug" <% if (product.slug) { %> value="<%= product.slug %>" <% } %> >
                </div>
                
                <div class="form-control">
                    <label class="label caption" for="txtUsage">Usage: </label>
                    <input class="textbox field" type="text" name="usage" id="txtUsage" value="<%- product && product.usage ? product.usage : '' %>" >
                </div>

                <div class="form-control">
                    <label class="label caption" for="year">Year: </label>
                    <input class="textbox field" type="number" min="1900" max="2099" name="year" step="1" value="<%- product && product.year ? product.year : '' %>" required>
                </div>

                <div class="form-control">
                    <label class="label caption" for="price">price: </label>
                    <input class="textbox field" type="text" name="price" id="price" <% if (product.price) { %> value="<%= product.price %>" <% } %> >
                </div>

                <div class="form-control">
                    <label class="label caption" for="pagetitle">pagetitle: </label>
                    <input class="textbox field" type="text" name="pagetitle" id="pagetitle" <% if (product.pagetitle) { %> value="<%= product.pagetitle %>" <% } %>>
                </div>

                <div class="form-control">
                    <label class="label caption" for="shortDescription">shortDescription: </label>
                    <input class="textbox field" type="text" name="shortDescription" id="shortDescription" <% if (product.shortDescription) { %> value="<%= product.shortDescription %>" <% } %>>
                </div>

                <div class="form-control">
                    <label class="label caption" for="txtLongDescription">Long Description: </label>
                    <textarea name="LongDescription" class="textarea field" id="" cols="30" rows="10"><% if (product.LongDescription) { %> <%= product.LongDescription %> <% } %></textarea>
                </div>

                <div class="form-control">
                    <label class="label caption" for="specifications">specifications: </label>
                    <textarea name="specifications" class="textarea field" id="" cols="30" rows="10"><% if (product.specifications) { %> <%= product.specifications %> <% } %></textarea>
                </div>

                <div class="form-control">
                    <label class="label caption" for="features">features: </label>
                    <textarea name="features" class="textarea field" id="" cols="30" rows="10"><% if (product.features) { %> <%= product.features %> <% } %></textarea>
                </div>

                <div class="form-control">
                    <label class="label caption" for="care">care: </label>
                    <textarea name="care" class="textarea field" id="" cols="30" rows="10"><% if (product.care) { %> <%= product.care %> <% } %></textarea>
                </div>
                
                <div class="form-control">
                    <label class="label caption" for="sltCategory">Main Category</label>
                    <select class="select field" name="category" id="sltCategory">
                        <option value="">Please select a category</option>
                        <% categories.forEach(category => { %>
                            <option <% if (category.id == product.categoryId) { %> selected <% } %> value="<%= category.id %>">
                                <%= category.name %>
                            </option>
                        <% }) %>
                    </select>
                </div>

                <div class="form-control">
                    <label class="label caption" for="sltSubCategory">Sub Category</label>
                    <select class="select field" name="subCategory" id="sltSubCategory">
                        <% subCategories.forEach(subCategory => { %>
                            <% if (subCategory.categoryId === product.categoryId) { %>
                                <option <% if (subCategory.id === product.subCategoryId ) { %> <%= 'selected' %>  <% } %> 
                                    value="<%= subCategory.id %>"> <%= subCategory.name %> </option>
                             
                            <% } %>
                            
                        <% }) %>
                    </select>
                </div>

                <div class="form-control">
                    <label class="label caption" for="image_id">Images: </label>
                    <div id="selected-images">
                        <% product.images.forEach(image => { %>
                        <span id="<%= image.id %>">
                            <input type="button" id="<%= image.id %>" value="x" class="remove-button">
                            <img src="/images/assets/<%= image.src %>" width="100px" height="100px">
                        </span>
                        <% }) %>
                    </div>

                    <div id="product-image-array">
                        <% product.images.forEach(image => { %>
                            <input type="hidden" name="image" value="<%= image.id %>">
                        <% }) %>
                    </div>
                    <button id="btn-model-images" class="quote-button">Select Images</button>
                </div>

                <div class="form-control">
                    <label class="label caption" for="size_id">Sizes: </label>
                    <div class="field">

                        <% sizes.forEach(size => { %>
                            <% let checked = '' %> 
                            <% product.sizes.forEach(s => { %>
                                <% if (size.id === s.id) { %>
                                    <% checked  = 'checked' %> 
                                <% } %>
                            <% }) %>
                                    
                            <span>
                                <input type="checkbox" name="size" <%= checked %>  id="<%= size.id %>" value="<%= size.id %>">
                                <label for="<%= size.id %>"><%= size.size %> </label>
                            </span>
                        <% }) %>
                        
                    </div>
                </div>

                <div class="form-control">
                    <label class="label caption" for="tag_id">Tags: </label>
                    <div class="field">

                        <% tags.forEach(tag => { %>
                            <% let checked = '' %> 
                            <% product.tags.forEach(t => { %>
                                <% if (tag.id === t.id) { %>
                                    <% checked  = 'checked' %> 
                                <% } %>
                            <% }) %>
                                    
                            <span>
                                <input type="checkbox" name="tag" <%= checked %>  id="<%= tag.id %>" value="<%= tag.id %>">
                                <label for="<%= tag.id %>"><%= tag.name %> </label>
                            </span>
                        <% }) %>
                        
                    </div>
                </div>



                <div class="form-control">
                    <div class="caption"></div>
                    <div class="field">
                        <a class="btn btn-normal btn-gray" href="/home/product">Cancel</a>
                        <input class="btn btn-normal btn-blue" type="submit" name="Submit" value="Update">
                    </div>
                </div>

            </form>
        </div>
    </div>
</section>

<script>
    const form = document.querySelector('form');
    const sltCategory = document.querySelector('#sltCategory');
    const sltSubCategory = document.querySelector('#sltSubCategory');

    
    sltCategory.addEventListener('change', async (e) => {
        e.preventDefault();
        
        if (sltCategory.value === ''){
            AddOption('No subcategory available')
            return
        } 
               
        
        try {
            const res = await fetch(`/home/update-product/getsubcategories/${sltCategory.value}`);
            const data = await res.json();


            if (!data.subcategories.length) {
                AddOption('No subcategory available')
                return
            }
            
            sltSubCategory.innerHTML = '';
            AddOption('Please select a subcategory')
            data.subcategories.forEach(e => {
                
                const option = document.createElement("option");
                option.text = e.name;
                option.value = e.id
                sltSubCategory.add(option);

            });
        }
        catch (err) {
            console.log(err);
        }

        function AddOption(text) {
            sltSubCategory.innerHTML = '';
            const option = document.createElement("option");
            option.text = text;
            option.value = 0
            sltSubCategory.add(option);
        }
    });
</script>