<section class="container dashboard-page">

	<%- include('../components/_flashMessages') %>

	<h1>Users</h1>
	
	<table>
		<tr>
			<th>Display Name</th>
			<th>First Name</th>
			<th>Last Name</th>		
			<th>Email</th>
			<th>Role</th>
			<th>Verified</th>
			<th>Active</th>
		</tr>
		<% users.forEach(i => { %>
		
		<tr>
			<td><%= i.displayName %></td>
			<td><%= i.firstname %> </td>
			<td><%= i.lastname %> </td>
			<td><%= i.email %> </td>
			<td><%= i.role %> </td>			
			<td><%= i.verified ? '✓' : '❌' %></td>
			<td><%= i.active ? '✓' : '❌' %></td>
			<td>
				
			<!-- <a class="btn btn-link link-blue" href="/home/view-user/<%= i.identifier %>">View</a> | -->
			<a class="btn btn-link link-blue" href="/home/update-user/<%= i.identifier %>">Edit</a> |
			<a class="btn btn-link link-red" href="/home/delete-user/<%= i.identifier %>">Delete</a>
			</td>
		</tr>
		
		<% }) %>
		
	</table>
  </section>


